bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.venv/

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
__pycache__/
*.pyc
local.settings.json
__pycache__/
.env
